.search-panel {
  min-height: 685px;
}

.search-panel .search-panel-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: max-content;
}

.icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.search-panel .logo-sub-title {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #484848;
  margin-top: 12px;
  margin-left: 270px;
}

.search-panel-wrapper .title-lg {
  align-self: flex-start;
  margin-left: 245px;
  margin-bottom: 18px;
}

.search-results-home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 718px;
  flex-shrink: 0;
  border-radius: 24px;
  border: 1px solid #484848;
  margin-bottom: 94px;
}

.show-more-button {
  display: block;
  text-align: center;
  width: 100%;
  padding: 15px 0px;
  transition: 0.2s all ease;
}

.show-more-button:hover {
  font-size: 20px;
}
