.slider .slider-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-bottom: 59px;
}

.slider h1 {
  margin-bottom: 49px;
  margin-left: 50px;
}

.slider .news-card {
  width: 327px;
}

.slider .news-card img {
  margin-bottom: 12px;
}
.slider .news-card .subheading {
  margin-bottom: 8px;
}

.news-info {
  color: #6c7072;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
